.wrapper {
  display: flex;
  min-height: 35px;
}
.avatar-container {
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
  padding-right: 8px;
}
.avatar {
  width: 28px;
  height: 28px;
}
.list-content {
  display: flex;
  flex-direction: column;
}
.mess-container {
  position: relative;
  max-width: 564px;
  width: fit-content;
  padding: 8px 12px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  border-radius: 18px;
}
.mess-wrap:not(:last-child) {
  margin-bottom: 2px;
}
.mess-content {
  color: var(--primary-black);
  font-size: 14px;
  line-height: 19px;
  text-align: start;
}
.mess-wrap {
  display: flex;

  &:hover {
    .action_wrapper {
      display: flex;
    }
  }
}
.action_wrapper {
  width: fit-content;
  display: none;
  align-items: center;
  padding: 0 5px;
}
.action-btn {
  width: 22px;
  height: 22px;
  color: #65676b;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.myself {
  justify-content: flex-end;
  margin-right: 10px;

  .mess-container {
    background-color: var(--primary-blue);
  }
  .list-content {
    align-items: flex-end;
  }
  .mess-content {
    color: var(--white);
  }
}
