.wrapper {
  flex: 1;
}
.header {
  position: relative;
  display: flex;
  padding-top: 8px;
  height: 56px;
  border-bottom: 1px solid #ced0d4;
}
.send-to {
  font-size: 15px;
  display: flex;
  color: var(--primary-black);
  span {
    margin: 8px 0 0 16px;
  }
}
.search-input {
  width: 100px;
  margin: 8px;
  padding-bottom: 8px;
}
.search-wrapper {
  position: absolute;
  width: 328px;
  top: 48px;
  left: 56px;
  overflow: hidden;
  .scroller {
    height: 400px;
    overflow: overlay;
    padding: 0 6px;
  }
}
