.wrapper {
    display: flex;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    max-height: 68px;
    width: 100%;
    text-decoration: none;
}
.container {
    display: flex;
    width: 100%;
    align-items: center;
}
.avatar {
    padding-right: 10px;
}
.info-container {
    display: flex;
    flex-direction: column;
    max-height: 35px;
    justify-content: center;
}
.info {
    display: flex;
}
.chat-name {
    font-size: 14px;
    color: #050505;
    font-weight: 500;
    text-align: left;
}
.message,
.time {
    color: #65676b;
    font-size: 12px;
}
