.wrapper {
    max-width: 60px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.nav-top {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}
.nav-btn-group {
    padding: 0px 8px;
    flex-shrink: 1;
}
.groups {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ops-wrap {
    flex: 1;
    padding: 6px 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #fff;
}
.ops-btn {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}
.expand-btn {
    display: flex;
    justify-content: center;
}
.my-name {
    font-size: 14px;
    color: var(--primary-black);
    font-weight: 500;
    padding: 4px;
    padding-left: 8px;
}
.ops-container {
    position: relative;
}

.isExpand {
    width: 248px;
    max-width: 248px;
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 8px;
        padding-right: 12px;
    }
    .ops-container {
        padding-right: 6px;
        display: flex;
        flex: 1;
    }
    .ops-wrap {
        margin: 0;

        justify-content: start;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background-color: #f0f2f5;
        }
    }
}
