.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

.icon {
    width: 28px;
    height: 28px;
    fill: #65676b;
}
.active {
    .icon {
        fill: #000;
    }
}
