.wrapper {
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: relative;
  margin: 1px 0;
}
.cover {
  position: absolute;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.03;
  &:hover {
    opacity: 0.06;
  }
}
.image {
  display: block;
  max-height: 300px;
  max-width: 100%;
  border-radius: inherit;
}
