.wrapper {
  display: flex;
  height: 36px;
}
.container {
  width: 100%;
  display: flex;
}
.search-box {
  background-color: #f0f2f5;
  padding: 0 2px;
  align-items: center;
  border-radius: 50px;
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 14px;
  padding-right: 4px;

  .search-icon {
    fill: var(--primary-gray);
  }
}
.search-input {
  flex: 1;
  background-color: transparent;
  font-size: 0.9375rem;
  height: 36px;
  color: var(--primary-black);
  padding-right: 12px;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 2px;
}
.back-btn {
  background-color: transparent;
  margin-right: 4px;
}
.back-icon {
  width: 18px;
  height: 18px;
  color: var(--primary-gray);
}

.cancle-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  &:hover {
    background-color: rgba(22, 24, 35, 0.06);
  }
  .cancle-icon {
    color: var(--primary-gray);
  }
}
