.wrapper {
    padding-top: 16px;
    padding-bottom: 8px;
    padding-right: 6px;
    padding-left: 6px;
}
.inner {
    border-top: 1px solid #ced0d4;
    margin-top: 8px;
    margin-bottom: 15px;
}
