.wrapper {
    width: 360px;
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 10px;
}

.title-wrap {
    line-height: 28px;
    padding-left: 12px;
}
.title {
    font-size: 1.5rem;
}
