.wrapper {
  position: relative;
  width: 360px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 10px;
}

.title-wrap {
  line-height: 28px;
  padding-left: 12px;
}
.title {
  font-size: 1.5rem;
}
.chat-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}
.search-box {
  padding-bottom: 12px;
}

.footer {
  display: flex;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  min-height: 54px;
  padding: 8px;
}
.download-icon {
  font-size: 16px;
  margin-right: 6px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  color: var(--primary-black);
  font-weight: 500;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
